@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    background-color: black;
    overflow-x: hidden;
}

/* Custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(49, 47, 45, 0.58);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(49, 47, 45, 0.58);
}

/* navbar styling */
nav {
    width: 100%;
    height: 10vh;

}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: rgba(49, 219, 101, 0.85);
    text-shadow: 0 0 10px rgba(49, 219, 101, 0.85);
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    opacity: 0;
    pointer-events: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links {
    display: flex;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgba(49, 219, 101, 0.85);
    transition: 0.2s linear;
}

.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover {
    color: rgba(49, 219, 101, 0.85);
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown.active {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.dropdown .links a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover {
    background-color: rgba(49, 219, 101, 0.85);
}

section {
    width: 100%;
    min-height: 90vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image {
    width: 500px;
    height: 73vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(49, 219, 101, 0.85);
}

.main-container .image img {
    width: 100%;
}

.main-container .image:hover {
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

.main-container .content {
    color: white;
    width: 40%;
}

.content h1 {
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span {
    color: rgba(49, 219, 101, 0.85);
    text-shadow: 0 0 10px rgba(49, 219, 101, 0.85);
}

.content .typewriter {
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
    min-width: 280px;
}

.content .typewriter span {
    position: relative;
}

.content .typewriter span::before {
    content: "Cyber Security Analyst";
    color: rgba(49, 219, 101, 0.85);
    text-shadow: 0 0 10px rgba(49, 219, 101, 0.85);
    animation: words 20s infinite;
}

.content .typewriter span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: 0.6s infinite;
}

.content p {
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 50%;
    border: 0.2rem solid rgba(49, 219, 101, 0.85);
    color: rgba(49, 219, 101, 0.85);
    margin: 5px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover {
    scale: 1.3;
    color: black;
    background-color: rgba(49, 219, 101, 0.85);
    filter: drop-shadow(0 0 10px rgba(49, 219, 101, 0.85));
}

.content button {
    width: 50%;
    height: 6vw;
    margin: 30px;
    background-color: rgba(49, 219, 101, 0.85);
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover {
    scale: 1.1;
    color: rgba(49, 219, 101, 0.85);
    border: 2px solid rgba(49, 219, 101, 0.85);
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px rgba(49, 219, 101, 0.85);
}


/* About Section styling */
section .content {
    width: 80%;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}

.about .about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100px;
    background: rgba(49, 219, 101, 0.85);
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.about .about-details .left {
    width: 50%;
}

.about .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.about-details .right {
    width: 55%;
}

section .topic {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-details .right p {
    text-align: justify;
    color: white;
}

section .button button {
    margin-top: 20px;
    padding: 10px 25px;
    background: rgba(49, 219, 101, 0.85);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

section .button button:hover {
    scale: 1.1;
    color: rgba(49, 219, 101, 0.85);
    border: 2px solid rgba(49, 219, 101, 0.85);
    background-color: white;
    font-weight: 700;
    box-shadow: 0 0 40px rgba(49, 219, 101, 0.85);
}

/* Skills Section styling */
.skills {
    background: black;
}

.skills .content {
    padding: 40px 0;
}

.skills .skills-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-details .text {
    width: 50%;
}

.skills-details p {
    color: white;
    text-align: justify;
}

.skills .skills-details .experience {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.skills-details .experience .num {
    color: white;
    font-size: 80px;
}

.skills-details .experience .exp {
    color: white;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}

.skills-details .boxes {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-details .box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}

.skills-details .boxes .topic {
    font-size: 20px;
    color: rgba(49, 219, 101, 0.85);
}

.skills-details .boxes .per {
    font-size: 60px;
    color: rgba(49, 219, 101, 0.85);
}

/* Service section styling */
.services .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .boxes .box {
    margin: 20px;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    color: white;
    transition: all 0.4s ease;
}

.services .boxes .box:hover {
    background: rgba(49, 219, 101, 0.85);
    color: white;
}

.services .boxes .box .icon {
    height: 50px;
    width: 50px;
    background: rgba(49, 219, 101, 0.85);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}

.boxes .box:hover .icon {
    background-color: white;
    color: rgba(49, 219, 101, 0.85);
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: white;
    transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: white;
}

/* Contact Section styling */
.contact {
    background: black;
}

.contact .content {
    padding: 30px 0;
    margin: 0 auto;
}

.contact .text {
    width: 80%;
    text-align: center;
    margin: auto;
}

footer {
    background: rgba(49, 219, 101, 0.85);
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer .text span a {
    font-weight: 500;
    color: white;
}

footer .text span a:hover {
    text-decoration: underline;
}

.scroll-button a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    background: rgba(49, 219, 101, 0.85);
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.12);
    display: none;
}

@media(max-width: 1000px) {
    .about .about-details {
        justify-content: center;
        flex-direction: column;
    }

    .about .about-details .left {
       display: flex;
    justify-content: center;
    align-items: center;
}

    }

    .about-details .right {
        width: 90%;
        margin: 40px 0;
    }

    .services .boxes .box {
        margin: 20px 0;
        width: calc(100% / 2 - 20px);
    }
}

@media(max-width: 900px) {
    .about .left img {
        height: 350px;
        width: 350px;
    }
}

@media(max-width: 968px) {

    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    section .main-container {
        padding-left: 0px;
        flex-direction: column;
        display: flex;
    }

    .nav-container .links {
        display: none;
    }

    .hamburg,
    .cancel {
        opacity: 1;
        pointer-events: visible;
    }

    .main-container .content {
        margin-top: 20px;
        width: 80%;
    }

    .social-links i {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .image {
        width: 50%;
        height: 60%;
    }

    .skills .skills-details {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .skills-details .text {
        width: 100%;
        margin-bottom: 50px;
    }

    .skills-details .boxes {
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .services .boxes .box {
        width: 100%;
        margin: 20px 0;
    }

    .contact .text {
        width: 100%;
    }
}

@media(max-width: 500px) {
    main-container .image {
        width: 50%;
        height: 60%;
        margin-bottom: 0px;
    }

    .main-container .content {
        width: 80%;
    }

    .main-container button {
        margin-top: 15px;
    }

    .skills-details .boxes .per {
        font-size: 50px;
        color: rgba(49, 219, 101, 0.85);
    }
}

@keyframes cursor {
    to {
        border-left: 3px solid rgba(49, 219, 101, 0.85);
    }
}

@keyframes words {

    0%,
    20% {
        content: "Cyber Security Analyst";
    }

    21%,
    40% {
        content: "Penetration Tester";
    }

    41%,
    60% {
        content: "Ethical Hacker";
    }

    61%,
    80% {
        content: "Cyber Forensics Investigator";
    }

    81%,
    100% {
        content: "Vulnerability Assessment Analyst";
    }
}